<div>
    <br>
    <mat-card class="register-form">
        <mat-card-header>
            <section class="mat-typography">
                <h3>
                    Register
                </h3>
            </section>
        </mat-card-header>  
        <mat-divider></mat-divider>
        <br>
        <form [formGroup]="registerForm" class="register-form">
            <mat-form-field class="field-full-width">
                <input matInput placeholder="name" #name>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="surname"  #surname>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="email" formControlName="email" #email>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="nickname" formControlName="nickname" #nickname>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="password" formControlName="password" #password>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <mat-label>birthdate</mat-label>
                <input matInput [matDatepicker]="birthdate" placeholder="birthdate">
                <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
                <mat-datepicker #birthdate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <textarea matInput placeholder="description"
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="7"
                #description></textarea>
            </mat-form-field>
            <br><br>
            <button type="submit" mat-raised-button color="accent" (click)="registerUser(email.value, password.value, nickname.value)">Register</button>
        </form>
    </mat-card>
</div>