<body>
<mat-toolbar class="navbar">

  <mat-toolbar-row>
          
    <mat-icon>favorite</mat-icon>
     <span><h1 href="/">LOGO NAME</h1></span>
     <span class="space"></span>

     <mat-form-field class="search-bar">
      <input matInput type="text" placeholder="Search" [(ngModel)]="searchValue">
      <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
  
        
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
     <span class="space"></span>
     
    <button mat-raised-button [routerLink]="['/home']" checked>Home</button>
    <button mat-raised-button [routerLink]="['/profile']" >Profile</button>
    <router-outlet></router-outlet>
    
      <button mat-raised-button (click)="logOut()">Log out</button>
    </mat-toolbar-row>



</mat-toolbar>


 




<mat-card class="home-card">
  <div class="card-body">
       
    <mat-card-title>
      Post your product
    </mat-card-title>
    <form (ngSubmit)="addProduct()" class="add-product-form" ngNativeValidate>
      <mat-form-field class="field-full-width">
          <input matInput placeholder="name" 
          [(ngModel)]="name"
          required
          name="name"
          id="name"
          #ngModel>
      </mat-form-field>
      <br>
      <mat-form-field class="field-full-width">
          <textarea type ="description" matInput placeholder="description"
          [(ngModel)]="description"
          required
          name="description"
          id="description"
          #ngModel>
          </textarea>
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit" class="btn btn-primary" color="primary">Submit</button>
      <a mat-raised-button [routerLink]="['/']" class="btn btn-success">Cancel</a>
    </form>
  </div>
</mat-card>

<mat-list>
  <mat-list-item *ngFor="let product of products | async">
    <mat-card class="card-product">
      <div class="card-body">
        <mat-card-title>
          Products You Have Added !
          
        </mat-card-title>
        <h3>
          {{product.name}}
          
        </h3>
        <p>{{product.description}}</p>
      </div>
    </mat-card>
  </mat-list-item>
</mat-list>
</body>