.navbar{
    color: grey;
    align-content: center;
}

.search-bar{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.create-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 90%;
}


.register-form {
    width: 60%;
    vertical-align: center;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5em;  
}

body {
    background: url("../../../public/architecture-buildings-business-city-358502.jpg");
    background-attachment: fixed; 
        background-clip: border-box; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
  
}

.hoverable{
   
    display: block;
    cursor: pointer;

}
.hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
}
.hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}
.hoverable:hover .hover-text{
    display: block;
}
.hoverable:hover .background{
    display: block;
    
}
#fileInput{
    display: none;
}

.space {
    flex: 1 1 auto;
  }


img {
    
    height: auto;
    width: 60%;
 
   
  }