<mat-toolbar color="primary">
  <mat-toolbar-row >    
    <mat-icon>language</mat-icon>
    <span><h1 href="/">MANG</h1></span> 
    <span class="space"></span>
    <a #doSomethingElse [routerLink]="['/log-in']" mat-button class="btn btn-other btn-lg" ><mat-icon>account_circle</mat-icon>  Log in</a>
  </mat-toolbar-row>
</mat-toolbar>


<div class="main">  
  <div class="row align-items-center">
    <div class="col-6 offset-md-3">
      <section class="mat-typography">
        <img  src="assets/img/influencers.jpg">
        <h2>MANG</h2>
        <p>¿Aún no estás registrado? Únete</p>
      </section>
    </div>
  </div>
    
  <div class="h-100 row align-items-center">        
    <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;">
    </div>        
    <ng-template #doSomethingElse>
      <div class="col-md-4">
        <a [routerLink]="['/sign-up']" mat-raised-button class="btn btn-common btn-lg" color="primary">Influencer</a>
      </div>      
      <div class="col-md-4">
        <a [routerLink]="['/sign-up-2']" mat-raised-button class="btn btn-border btn-lg" color="primary">Enterprise</a>
      </div>
    </ng-template>
  </div>
</div>


 