<mat-card class="register-form">
  <div class="row">
      <div class="col-md-4">
        <section class="mat-typography">
            <h3>
                Angular + NGRX
            </h3>
        </section>
        <mat-divider></mat-divider>
    
        <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
        <ng-template #doSomething>
          <p>You logged in <em>{{user.email}}!</em></p>
          <button class="btn btn-primary" (click)="logOut()">Log out</button>
        </ng-template>
        <ng-template #doSomethingElse>
          <a [routerLink]="['/log-in']" mat-raised-button class="btn btn-primary" color="primary">Log in</a>
          <a [routerLink]="['/sign-up']" mat-raised-button class="btn btn-primary" color="danger">Sign up</a>
        </ng-template>
        <a [routerLink]="['/status']" mat-raised-button class="btn btn-primary" color="orange">Status</a>
    
        <mat-divider></mat-divider>
        
        
        <mat-card class="register-form" style="width: 18rem;">
          <div class="card-body">
            <mat-card-title>
              Current State
            </mat-card-title>
            <ul>
              <li><strong>isAuthenticated</strong> - {{isAuthenticated}}</li>
              <li><strong>user.email</strong> - {{ user?.email || 'null'}}</li>
              <li><strong>token</strong> - {{ token || 'null'}}</li>
              <li><strong>errorMessage</strong> - {{ errorMessage || 'null'}}</li>
            </ul>
          </div>
        </mat-card>
    
      </div>
    </div>
</mat-card>    