<div>
    <br>
    <mat-card>
        <section class="mat-typography">
            <h3>
                Edit User
            </h3>
        </section>
        <mat-divider></mat-divider>
        <br>
        <form [formGroup]="updateForm" class="edit-form">
            <mat-form-field class="field-full-width">
                <input matInput placeholder="email" formControlName="email" #email>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="password" formControlName="password" #password>
            </mat-form-field>
            <mat-divider></mat-divider>
            <br><br>
            <button mat-raised-button color="accent" routerLink="/list">Back</button>
            <button type="submit" (click)="updateUser(email.value, password.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Edit</button>
        </form>
    </mat-card>
</div>