<mat-card class="register-form">

    <div class="row">
      <div class="col-md-4">
          <mat-card-title >	
            <section class="mat-typography">
              <h3>
                  Register
              </h3>
            </section>
          </mat-card-title>
      <br>
        <div *ngIf="errorMessage">
          <div class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
        </div>
        <form (ngSubmit)="onSubmit()" class="create-form" ngNativeValidate>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="email" 
              [(ngModel)]="user.email"
              required
              name="email"
              id="email"
              #email>
          </mat-form-field>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="password"
              [(ngModel)]="user.password"
              required
              name="password"
              id="password"
              #password>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="nickname"
            [(ngModel)]="user.nickname"
            required
            name="nickname"
            id="nickname"
            #nickname>
        </mat-form-field>
          <br>
          <button mat-raised-button type="submit" class="btn btn-primary" color="primary">Submit</button>
          <a mat-raised-button [routerLink]="['/']" class="btn btn-success">Cancel</a>
        </form>
        <p>
          <span>Already have an account?&nbsp;</span>
          <a [routerLink]="['/log-in']">Log in</a>
        </p>
      </div>
    </div>
  </mat-card>