<mat-card class="login-form">
  <div class="row">
    <div class="col-md-4">
      <section class="mat-typography">
        <h3>
            Login
        </h3>
    </section>
    <mat-divider></mat-divider>
    <br>
      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" class="create-form" ngNativeValidate>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="email" 
            [(ngModel)]="user.email"
            required
            name="email"
            id="email"
            #email>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="password"
            [(ngModel)]="user.password"
            required
            name="password"
            id="password"
            #password>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="btn btn-primary" color="primary">Submit</button>
        <a mat-raised-button [routerLink]="['/']" class="btn btn-success">Cancel</a>
      </form>
      <p>
        <span>Don't have an account?&nbsp;</span>
        <a [routerLink]="['/sign-up']">Sign up!</a>
      </p>
    </div>
  </div>
</mat-card>